* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
}
header {
	height: 69px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid seashell;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	z-index: 1;
}
header img {
	height: 50px;
	margin: 10px;
}
header nav ul {
	display: flex;
	text-decoration: underline;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
nav ul li {
	list-style: none;
	margin: 10px;
}
main {
	position: relative;
	top: 69px;
}
#banner {
	margin: 0 auto;
	display: flex;
	background-size: cover;
	margin-bottom: 50px;
	justify-content: center;
	max-width: 1200px;
	background: url(./images/img-mission-background.jpg);
	background-size: cover;
}
#banner .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 700px;
}
#banner .container h2,
#banner .container h4 {
	background-color: black;
	width: 100%;
	text-align: center;
	padding: 10px;
}

#teaOfTheMonth {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 45px;
	max-width: 1000px;
}

#teaOfTheMonth .container {
	display: flex;
	flex-flow: row wrap;
	max-width: 1000px;
	justify-content: center;
}

#teaOfTheMonth .container .child {
	height: fit-content;
	max-width: 400px;
	margin: 10px;
}

.child img {
	height: 200px;
	background-size: cover;
}
.child h4 {
	text-align: center;
	line-height: 0px;
	margin: 10px;
}

#locations {
	padding: 0 30px;
	margin: 0 auto;
	min-height: 500px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	background-image: url(./images/img-locations-background.jpg);
	background-size: cover;
}

#locations h2 {
	text-align: center;
	margin-bottom: 15px;
}

#locations .container {
	display: flex;
	max-width: 1200px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#locations .container .child {
	margin: 15px 20px;
	height: fit-content;
	width: 300px;
	background-color: black;
	color: white;
	line-height: 50px;
	text-align: center;
}

footer {
	height: 200px;
}
footer h2,
footer h5 {
	margin: 10px;
	text-align: center;
}
footer h5 {
	line-height: 40px;
}
.container {
	max-width: 1220px;
	margin: 0 auto;
}

#copyright {
	text-align: left;
}
