/* Subreddit */

.subRedditHeader {
	margin: 0 auto;
	text-align: center;
	margin: 1rem auto;
	background-color: white;
	width: fit-content;
}

/* Posts */
.posts {
	margin: 1rem;
}
.post:first-child {
	border-radius: 10px 10px 0 0;
	border-top: 1px solid black;
}

.post:last-child {
	border-radius: 0 0 10px 10px;
}

.post + .post {
	border-top: none;
}
.post.sticky + .post {
	border-top: 1px solid black;
	border-radius: 15px 15px 0 0;
}

/* Stickies */

.post.sticky.only {
	margin-top: 0;
	margin: 2rem auto;
	border-radius: 15px;
}
.post.sticky.duo + .post.sticky.duo {
	margin-bottom: 2rem;
	border-radius: 0px 0px 15px 15px;
	border-top: none;
}

/* Post styling */

.post {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0 auto;
	min-width: 360px;
	width: 80vw;
	max-width: 800px;
	background-color: rgba(255, 255, 255, 0.384);
	padding: 1rem;
	border: grey 1px solid;
	font-size: 0.75rem;
	padding-left: 2.5rem;
}
.post .content {
	width: 100%;
	margin: 0.3rem;
}

.title {
	font-weight: bold;
	font-size: 1rem;
}
.author {
	display: inline;
	width: fit-content;
	font-size: 0.8rem;
	font-weight: 500;
	color: rgb(61, 59, 59);
}
.flair {
	background-color: rgb(128, 17, 150);
	width: max-content;
	padding: 0.3rem 0.5rem;
	border-radius: 15px;
	color: white;
	align-self: flex-start;
}
.content.score {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 10px;
	position: absolute;
	left: 0.5rem;
	transform: translateX(-7px);
	top: 3rem;
}
.content.body ul {
	list-style: none;
}

/* Emojis */
.emoji {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: none;
	background-size: contain;
}
