/* Subreddit */

.subRedditHeader {
	margin: 0 auto;
	text-align: center;
	margin: 1rem auto;
	background-color: inherit;
	color: white;
	width: fit-content;
}

/* Posts */
.posts {
	margin: 1rem;
}

.post:last-child {
	border-radius: 0 0 10px 10px;
}

/* Stickies */
.post.sticky:first-child {
	padding-top: 0.3rem;
	margin: 0 auto;
}
.post.sticky.only {
	margin-top: 0;
	margin: 0.5rem auto;
	border-radius: 5px;
}
.post.sticky.duo + .post.sticky.duo {
	margin: 0 auto;
	margin-bottom: 0.5rem;
	border-radius: 0px 0px 5px 5px;
	position: relative;
	bottom: 1px;
}
.post.sticky.duo + .post.sticky.duo .pinned {
	display: none;
}
.post.sticky.duo:hover {
	z-index: 10;
}

.pinned:first-child {
	letter-spacing: -0.4px;
	font-size: 0.68rem;
	position: relative;
	top: 0;
	left: 0;
	padding-left: 1rem;
	background-image: url("../../assets/greenpin.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	align-self: flex-start;
}

/* Post styling */

.post {
	display: flex;
	cursor: pointer;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0 auto;
	width: 80vw;
	max-width: 800px;
	background-color: #1a1a1b;
	color: white;
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: rgb(81, 81, 81) 1px solid;
	font-size: 0.75rem;
	padding-left: 2.5rem;
	border-radius: 5px;
	margin: 0.4rem auto;
}

.post:hover,
.post.sticky:first-child:hover {
	border: 1px rgb(161, 160, 160) solid;
}

.post .content {
	width: 100%;
	margin: 0.2rem;
}

.title {
	font-weight: bold;
	font-size: 1rem;
	line-height: normal;
}

.author,
.comments {
	width: fit-content;
	font-size: 0.7rem;
	font-weight: 500;
	color: #818384;
}
.author {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
.content.comments {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2.3rem;
	padding: 0.5rem;
	width: fit-content;
	align-self: flex-start;
	gap: 4px;
}
.comments:hover {
	background-color: #2d2d2f;
}
.comments img {
	max-height: 100%;
}
.flair {
	background-color: rgb(10, 140, 21);
	display: inline-flex;
	align-items: center;
	width: max-content;
	padding: 0.1rem 0.5rem;
	border-radius: 15px;
	color: white;
	align-self: flex-start;
}
.content.score {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 10px;
	position: absolute;
	left: 0.8rem;
	transform: translateX(-7px);
	top: 2rem;
}
.innerScore {
	content: "";
	height: 4rem;
	width: 1.2rem;
	position: absolute;
	left: 10%;
	z-index: 100;
	/* background-image: url("../../assets/score_arrow.png"); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.content.body ul {
	list-style: none;
}

/* Emojis */
.emoji {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -10% 00%;
	background-repeat: no-repeat;
	background-size: 80%;
}
.emojiContainer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 0 0.3rem;
}

@media only screen and (max-width: 500px) {
	.post {
		width: 100%;
	}
	.posts {
		margin: 3px;
	}
}
