/* Subreddit */

.subRedditHeader {
	margin: 0 auto;
	text-align: center;
	margin: 1rem auto;
	background-color: white;
	width: fit-content;
}

/* Posts */
.posts {
	margin: 1rem;
}
.post:first-child {
	border-radius: 10px 10px 0 0;
	border-top: 1px solid black;
}

.post:last-child {
	border-radius: 0 0 10px 10px;
}

.post + .post {
	border-top: none;
}

/* Stickies */
.post.sticky:first-child {
	padding-top: 0.3rem;
}
.post.sticky.only {
	margin-top: 0;
	margin: 2rem auto;
	border-radius: 15px;
}
.post.sticky.duo + .post.sticky.duo {
	margin-bottom: 2rem;
	border-radius: 0px 0px 15px 15px;
	border-top: none;
}
.post.sticky + .post {
	border-top: 1px solid black;
	border-radius: 15px 15px 0 0;
}
.pinned:first-child {
	letter-spacing: -0.4px;
	font-size: 0.68rem;
	position: relative;
	top: 0;
	left: 0;

	padding-left: 1rem;
	background-image: url("../../assets/greenpin.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	align-self: flex-start;
}

/* Post styling */

.post {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0 auto;
	min-width: 360px;
	width: 80vw;
	max-width: 800px;
	background-color: #1a1a1b;
	color: white;
	padding: 1rem;
	border: grey 1px solid;
	font-size: 0.75rem;
	padding-left: 2.5rem;
}
.post .content {
	width: 100%;
}

.title {
	font-weight: bold;
	font-size: 1rem;
	line-height: normal;
}
.author {
	display: inline;
	width: fit-content;
	font-size: 0.7rem;
	font-weight: 500;
	color: #818384;
}
.flair {
	background-color: rgb(10, 140, 21);
	display: inline-flex;
	align-items: center;
	width: max-content;
	padding: 0.1rem 0.5rem;
	border-radius: 15px;
	color: white;
	align-self: flex-start;
}
.content.score {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 10px;
	position: absolute;
	left: 0.8rem;
	transform: translateX(-7px);
	top: 3rem;
}
.score::before {
	content: "";
	height: 1500px;
	width: 1000px;
	color: green;
	position: absolute;
	left: 0;
	z-index: 100;
}
.content.body ul {
	list-style: none;
}

/* Emojis */
.emoji {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: none;
	background-size: contain;
}
